<form action="/adc" method="POST">
  <p >Titulo:</p>
  <input type="text" name="titulo" id="titulo">
  <p>Conteúdo:</p>
  <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
  <button type="submit" class="btn">Cadastrar Postagem</button>
</form>